body {
    background-image: url(./assets/Image//Rectangle1.png);
    background-color: gray;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}